.botao{
    color: aquamarine;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

.botao :hover{
    background-color: azure;
    
}

body {
  background-color:lightpink;
}